#contact button.submit {
  margin-top: -16px !important;
}
.get-in-touch
{
  color: white;
    font: 38px/60px 'opensans-bold', sans-serif;
}
.my-works
{
  height: 195px;
  width: max-content;
}
.my-work-modal
{
  height: 350px;
  width: max-content;
}
@media only screen and (max-width: 767px) {
header .scrolldown
{
 display: block !important;
}
  #contact button.submit {
    margin: -37px 0 53px 0;
  }
  #about .profile-pic {
    display: block !important;
  }
  #testimonials .header-col h1:before {
    content: "\f10d";
  }
  .profile-image-pic
  {
    text-align: -webkit-center;
    margin-bottom: 39px;
}
#contact h1:before
{
  font-family: 'FontAwesome' !important;
  content: "\f0e0" !important;
  padding-right: 10px !important;
  font-size: 72px !important;
  line-height: 72px !important;
  text-align: left !important;
  float: left !important;
  color: #ebeeee !important;
}
@media only screen and (max-width: 480px)
{
  header .banner-text h1
  {
    font-size: 35px !important;
  }
  .get-in-touch
  {
    font-size: 29px !important;
  }
}
}
